<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Bean definitions :: start -->
	<bean id="pwd" class="i.vk52.beans.PwdServiceImpl" />
	<bean id="email" class="i.vk52.beans.EmailServiceImpl" />
	<bean id="dao" class="i.vk52.beans.UserDaoImpl" />
	
	<!-- Target Bean definition -->
	
	<bean id="user" class="i.vk52.beans.UserService" autowire="constructor" />
	
</beans>