<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	
	<bean id="sp" class="i.vk52.beans.SonyPrinter" primary="true" />
	<bean id="mp" class="i.vk52.beans.MicrosoftPrinter" />
	<bean id="atm" class="i.vk52.beans.ATM" autowire="byType" />

</beans>